# Deep Learning Project - Lisbon traffic sign experiment

In [1]:
import numpy as np
import pandas as pd
import keras
from keras.preprocessing.image import ImageDataGenerator
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import os
import matplotlib.pyplot as plt

## Predicting test set images

In [3]:
# Load a saved model
model = keras.models.load_model('model_all_data_3ConvLayers_down_changed_architecture_100_100_1to15')

In [4]:
test_dir = '/Users/philippmetzger/Documents/GitHub/Deep_Learning_Project_Group_10/Data/lisbon_traffic_signs'
#test_dir = '/Users/philippmetzger/Documents/GitHub/Deep_Learning_Project_Group_10/Data/Meta'

### Load ground truth data

In [5]:
gt = pd.read_excel('/Users/philippmetzger/Documents/GitHub/Deep_Learning_Project_Group_10/Data/lisbon_traffic_signs/ground_truth.xlsx')
gt

    Index  Target
0       1      17
1       2      17
2       3      17
3       4      17
4       5      17
..    ...     ...
95    108      17
96    109      28
97    110      35
98    111      15
99    112       1

[100 rows x 2 columns]

### Normalization

In [6]:
from tensorflow.keras.preprocessing.image import ImageDataGenerator

test_datagen = ImageDataGenerator(rescale=1./255)

test_generator = test_datagen.flow_from_directory(
    test_dir,
    target_size=(100,100),
    batch_size=20,
    shuffle=False,
    #class_mode=None,
    class_mode="categorical",
    color_mode="grayscale"
    )

x_test=np.concatenate([test_generator.next()[0] for i in range(test_generator.__len__())])

test_datagen = ImageDataGenerator(featurewise_center=True, featurewise_std_normalization=True)

test_datagen.fit(x_test)

Found 100 images belonging to 1 classes.

##### Re-Creating the generators with the normalized image data

In [7]:
test_generator = test_datagen.flow_from_directory(
        test_dir,
        target_size=(100, 100),
        batch_size=20,
        shuffle=False,
        color_mode="grayscale",
        class_mode=None)

test_generator.reset() 
pred_scores = model.predict_generator(test_generator)
class_pred = np.argmax(pred_scores, axis=-1)

Found 100 images belonging to 1 classes.

/Users/philippmetzger/anaconda3/envs/dl_pip_2/lib/python3.8/site-packages/tensorflow/python/keras/engine/training.py:1905: UserWarning: `Model.predict_generator` is deprecated and will be removed in a future version. Please use `Model.predict`, which supports generators.
  warnings.warn('`Model.predict_generator` is deprecated and '

In [27]:
print(list(class_pred))

[17, 17, 17, 17, 17, 1, 1, 25, 1, 1, 33, 33, 33, 35, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 25, 25, 25, 29, 33, 17, 25, 28, 12, 2, 17, 17, 17, 2, 25, 12, 1, 29, 29, 29, 23, 1, 1, 1, 1, 17, 33, 18, 13, 17, 25, 25, 12, 13, 33, 13, 17, 41, 17, 13, 17, 35, 14, 33, 5, 1, 18, 17, 14, 17, 13, 13, 18, 16, 25, 13, 13, 11, 17, 13, 23, 35, 28, 1, 13, 32, 33, 12, 35, 17, 17, 11, 25, 17, 17]

In [28]:
target = list(gt['Target'])
print(target)

[17, 17, 17, 17, 17, 1, 1, 1, 1, 1, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 29, 29, 29, 29, 28, 28, 28, 28, 32, 32, 32, 32, 17, 33, 18, 15, 17, 25, 17, 17, 13, 33, 13, 17, 16, 17, 15, 17, 13, 14, 33, 25, 1, 18, 17, 14, 17, 15, 15, 18, 1, 25, 17, 15, 28, 17, 13, 28, 13, 28, 38, 13, 32, 17, 13, 35, 17, 17, 25, 13, 17, 17, 33, 17, 13, 28, 17, 33, 17, 17, 17, 28, 35, 15, 1]

In [35]:
df = pd.DataFrame(data={'target':target, 'prediction':class_pred})
df

    target  prediction
0       17          17
1       17          17
2       17          17
3       17          17
4       17          17
..     ...         ...
95      17          17
96      28          11
97      35          25
98      15          17
99       1          17

[100 rows x 2 columns]

In [48]:
i = 0
slice = [range(0,40), range(40,80), range(80,100)]

df.iloc[slice[i],:]

    target  prediction
0       17          17
1       17          17
2       17          17
3       17          17
4       17          17
5        1           1
6        1           1
7        1          25
8        1           1
9        1           1
10      33          33
11      33          33
12      33          33
13      33          35
14      33          33
15      33          33
16      33          33
17      33          33
18      33          33
19      33          33
20      33          33
21      33          33
22      33          33
23      33          33
24      33          33
25      29          25
26      29          25
27      29          25
28      29          29
29      28          33
30      28          17
31      28          25
32      28          28
33      32          12
34      32           2
35      32          17
36      32          17
37      17          17
38      33           2
39      18          25